.register-header {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 73px;
  text-align: center;
}

.form-card {
  background: #FFFFEC;
  margin: 8.7rem 8.5rem 10.7rem 9.3rem;
}

.form,
.sml-field {
  display: flex;
  flex-direction: column;

}

.sml-field {
  flex-grow: 1;


}

.name-field {
  margin-right: 12.2rem;
}

.form {
  margin: 6.9rem 6.7rem 5.9rem 3rem;
}

.first-line {
  display: flex;

}

.psw {
  width: 86.8rem;
}

label {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
}

input,
:visited {
  margin-top: 4rem;
  margin-bottom: 6.5rem;
  background: rgba(96, 94, 94, 0.18) !important;
  border-radius: 35px;
  border: none !important;
  height: 6.4rem;
}

.btn {
  margin: 1rem 110.7rem 0 -1.2rem !important;
  height: 8.4rem;
}

.sign-up-btn {
  height: 8.4rem;

}

.sign-up-btn-text {
  margin: 1.8rem 1.6rem 1.8rem 3.6rem;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  text-align: center;
}

.sml-icon {
  color: #E4A951;
  margin: 0 4rem;
}


.sign-up-link:visited,
:hover {
  color: black;
}
