<div class="categories">
  <hr class="top"/>
  <div class="categories-title">
    <img
      src="assets/images/categories-title.png"
      alt="categories-title"
      class="categories-tags"
    />
  </div>
  <div class="categories-tags">
    <app-card>
      <div class="tag-1 tag-text">brands</div>
    </app-card>
    <app-card>
      <div class="tag-2 tag-text">Electronics</div>
    </app-card>
    <app-card>
      <div class="tag-3 tag-text">merchadising</div>
    </app-card>
    <app-card>
      <div class="tag-4 tag-text">kids</div>
    </app-card>
  </div>
  <div class="adding-tags">
    <button class="adding-button">
      More...
      <img src="/assets/icons/arrow.png" alt="arrow" class="arrow-image" />
    </button>
  </div>
  <hr class="bottom"/>
</div>
