<nav class="navbar navbar-default">
  <div class="header">
    <ul class="nav left-side">
      <li class="link left-link"><a [routerLink]="'home'" class="left">Home</a></li>
      <li class="link left-link">
        <a [routerLink]="'products'" class="left">Products</a>
      </li>
      <li class="link left-link"><a [routerLink]="'login'" class="left">Log in</a></li>
      <li class="link left-link">
        <a [routerLink]="'about-us'" class="left">About us</a>
      </li>
    </ul>
    <ul class="nav navbar-right right-side">
      <li class="link right-link">

        <input type="text" placeholder=" Search..." class="right" id="search"/></li>
      <li class="link right-link">
        <a [routerLink]="'my-account'" class="right"
          ><img src="/assets/images/account.png" id="account"
        /></a>
      </li>
      <li class="link right-link">
        <a [routerLink]="'cart'" class="right last-right"><img src="/assets/images/cart.png" id="cart"
            /></a>
      </li>
    </ul>
  </div>
</nav>
