<nav class="navbar navbar-default">
  <div class="header">
    <!--? LEFT-CONTENT -->
    <ul class="nav left-side">
      <li class="link left-link">
        <a [routerLink]="HOME" class="left">Home</a>
      </li>
      <li class="link left-link">
        <a [routerLink]="PRODUCTS" class="left">Products</a>
      </li>
      <li class="link left-link">
        <a [routerLink]="LOGIN" class="left">Log in</a>
      </li>
      <li class="link left-link">
        <a [routerLink]="ABOUT_US" class="left">About us</a>
      </li>
    </ul>

    <!-- ? RIGHT-CONTENT -->
    <ul class="nav navbar-right right-side">
      <li class="link right-link">
        <div class="search-form right">
          <img
            src="/assets/icons/magnifying.png"
            alt="icon-search"
            class="icon-search"
          />
          <input
            type="text"
            placeholder=" Search..."
            class="search-box"
            id="search"
          />
        </div>
      </li>
      <li class="link right-link">
        <a [routerLink]="MY_ACCOUNT" class="right icon-link"
          ><img src="/assets/icons/account.png"
        /></a>
      </li>
      <li class="link right-link">
        <a [routerLink]="CART" class="right last-right icon-link"
          ><img src="/assets/icons/cart.png"
        /></a>
      </li>
    </ul>
  </div>
</nav>
