<div class="filter-side">
  <div class="filters">
    <div class="filter category-board">
      <app-card>
        <button class="open-close-btn">
          <h1>Category</h1>
          <h1>-</h1>
        </button>

        <ul>
          <li>Electronics</li>
          <li>Home</li>
          <li>For Her</li>
          <li>For Him</li>
          <li>Pets</li>
          <li>Clothing</li>
        </ul>
      </app-card>
    </div>
    <div class="filter material-board">
      <app-card>
        <button class="open-close-btn">
          <h1>Material</h1>
          <h1>+</h1>
        </button>
      </app-card>
    </div>
    <div class="filter color-board">
      <app-card>
        <button class="open-close-btn">
          <h1>Color</h1>
          <h1>+</h1>
        </button>
      </app-card>
    </div>

    <div class="filter brand-board">
      <app-card>
        <button class="open-close-btn">
          <h1>Brand</h1>
          <h1>+</h1>
        </button>
        <hr />
      </app-card>
    </div>
    <div class="filter price-board">
      <app-card>
        <button class="open-close-btn">
          <h1>Price</h1>
          <h1>+</h1>
        </button>
      </app-card>
    </div>
  </div>

  <div class="vert-line">
    <app-vertical-line></app-vertical-line>
  </div>
</div>
