.best-seller {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.inside-content {
  display: flex;
  flex-direction: column;
}

.left-content {
  margin-left: 140px;
  margin-top: 141px;
}

.right-content {
  margin: 79px 86px 133px 72px;
}
.item {
  background: #F2ECFF;
  padding: 0 !important;
  border: none;
}

.best-seller-title {
  height: 112px;
  width: 432px;
  margin-bottom: 5rem;
  margin-left: 10rem;
}

.item-2 {
  margin-top: 113px;
  margin-bottom: 257px;
}

.item-4 {
  margin-top: 100px;
  margin-bottom: 145px;
}

.item-left-image {
  margin: 4rem;
}

.item-right-image {
  margin: 5rem;
}
