<div class="best-seller">
  <!--? LEFT-CONTENT -->
  <div class="inside-content left-content">
    <button class="item items-left">
      <app-card>
        <img
          src="assets/images/item-1.png"
          alt="item-1"
          class="item-left-image"
        />
      </app-card>
    </button>
    <button class="item items-left item-2">
      <app-card>
        <img
          src="assets/images/item-2.png"
          alt="item-2"
          class="item-left-image"
        />
      </app-card>
    </button>
  </div>
  <!-- ? RIGHT-CONTENT -->
  <div class="inside-content right-content">
    <div class="title-section">
      <img
        src="/assets/images/best-seller-title.png"
        alt="best-seller-title"
        class="best-seller-title"
      />
    </div>
    <button class="item items-right item-3">
      <app-card>
        <img
          src="assets/images/item-3.png"
          alt="item-3"
          class="item-right-image"
        />
      </app-card>
    </button>
    <button class="item items-right item-4">
      <app-card>
        <img
          src="assets/images/item-4.png"
          alt="item-4"
          class="item-right-image"
        />
      </app-card>
    </button>
  </div>
</div>
