<div class="banner">
  <div class="main-area">
    <div class="text-area">
      <div class="title">
        <img
          src="/assets/images/text-content.png"
          alt="title"
          class="title-content"
        />
      </div>
      <hr />
      <button class="transfer-page" (click)="onLoadServers()">
        Shop Now...
        <img src="/assets/images/arrow.png" alt="arrow" class="arrow-image" />
      </button>
    </div>
    <div class="image-area">
        <div class="frame">
            <img src="/assets/images/image-on-banner.png" alt="" class="img-on-banner">
        </div>
    </div>
  </div>
</div>
