<div class="banner">
  <div class="main-area">
    <div class="text-area">
      <div class="title">
        <img
          src="/assets/images/text-content.png"
          alt="title"
          class="title-content"
        />
      </div>
      <hr />
      <button class="transfer-page" (click)="onLoadServers()">
        Shop Now...
        <img src="/assets/icons/arrow.png" alt="arrow" class="arrow-image" />
      </button>
    </div>
    <app-card>
      <img
        src="/assets/images/image-on-banner.png"
        alt="image-on-banner"
        class="img-on-banner"
      />
    </app-card>
  </div>
</div>
