<div class="grid-container list-products">
  <div class="item" *ngFor="let product of products"  [routerLink]="product.id" (click)="onSelect(product)">
    <app-card>
      <div class="item-detail">
        <button class="add-wish-icon">
          <img
            src="/assets/icons/heart_plus.png"
            alt="add-wish-icon"
            class="add-wish-icon-img"
          />
        </button>
        <img [src]="product.images[0].url" alt="main-pic" class="product-pic" />
        <div class="text-content">
          <p class="text name">{{ product.name }}</p>
          <p class="text price">{{ product.price }}$</p>
        </div>
      </div>
    </app-card>
  </div>
</div>
