.pics-collect {
  width: 75.2rem;
}

.img-big {
  width: 66.4rem;
  height: 66.4rem;
  margin-bottom: 7.4rem;
  margin-left: 3.1rem;
}

.swiper {
  display: flex !important;
  justify-content: space-between;

}

.swiper-wrapper {
  right: 25rem;
  width: 5rem !important;
  order: 2 !important;
  height: 10.8rem !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  height: 10.8rem;
}

.swiper-slide img {
  display: block;

}

.swiper-button-prev,
.swiper-button-next {
  color: #000000 !important;
  border: #000000 solid;
  border-radius: 50%;
  width: 4.2rem !important;
  height: 4.2rem !important;
  position: relative !important;
  margin-top: 3rem !important;

}

.swiper-button-prev {
  order: 1 !important;
  margin-right: 1.5rem;
}

.swiper-button-next {
  order: 3 !important;
}

:root {
  --swiper-navigation-size: 26px !important;
  font-weight: 800;
}


.img-sml {
  cursor: pointer;
  width: 11.6rem;
  height: 10.8rem;
}
