<app-header></app-header>
<div class="main-content">
  <div class="get-in-touch-form">
    <app-card>
      <div class="full-content">
        <div class="header">
          <img src="/assets/icons/personal.svg" alt="personal" />
          <div class="header-text">Get in Touch</div>
        </div>
        <div class="content">
          <div class="form">
            <label for="email">Email/Username:</label>
            <input type="text" name="" />
            <label for="textarea">Your Message:</label>
          <input type="text" name="" />
          </div>
          <app-vertical-line></app-vertical-line>
          <div class="infor-page">
            <div class="mail">
              <img src="" alt="">
              <div class="info email-address"><a href="#">{{emailAddress}}</a></div>
            </div>
            <div class="number">
              <img src="" alt="">
              <div class="info number">{{number}}</div>
            </div>
            <div class="address">
              <img src="" alt="">
              <div class="info address">{{address}}</div>
            </div>
          </div>

        </div>
      </div>
    </app-card>
  </div>
</div>
<app-footer></app-footer>
